.local__titulo{
    text-align: center;
    color: #404951;
    font-family: "Rochester", cursive;
    font-size: 56px;
    line-height: 1;
    text-transform: none;
    font-weight: normal;
}