.sobre__imagem {
    border-radius: 100%;   
    width: 15%;
    padding: 2%;
    
}

@media screen and (min-width: 0) {
    .sobre__imagem {
        width: 50vh;
        border-radius: 100%; 
        padding: 2%;
    }
}

@media screen and (min-width: 768px) {
    .sobre__imagem {
        border-radius: 100%;   
        width: 50vh;
        padding: 2%;
    }
}